name: Deploy to AWS

on:
  push:
    branches:
      - main 

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Deploy CloudFormation stack
        run: |
          aws cloudformation deploy --template-file template.yaml --stack-name MyPortfolioStack --parameter-overrides PortfolioBucketName=portfolio-mitsuhirodemura-2026 DBName=portfolio-mitsuhirodemura-2026-db --capabilities CAPABILITY_NAMED_IAM

      - name: Upload to S3
        run: |
          aws s3 cp index.html s3://portfolio-mitsuhirodemura-2026/

      - name: Invalidate CloudFront cache
        run: |
          # CloudFrontのIDを自動取得してキャッシュ削除
          DIST_ID=$(aws cloudformation describe-stack-resource --stack-name MyPortfolioStack --logical-resource-id MyCloudFront --query "StackResourceDetail.PhysicalResourceId" --output text)
          aws cloudfront create-invalidation --distribution-id $DIST_ID --paths "/*"